.footer {
    width: 100%;
    background-color:#222;
    position: absolute;
    min-height: 15vh;
    padding-top: 2rem;
    text-align: center;
  }
  .footer-logo {
    width: 6rem;
  }
  
  .footer li {
    display: inline;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: rgb(179, 170, 170);
  }
  .footer h1 {
    cursor: pointer;
    display: inline;
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(83, 145, 216);
  }