.page {
  
  background-color: #222;
}
.page section {
  
  display: block;
}
.hero {
  margin-top: 4rem;
  width: 100%;
  min-height: 70vh;
  justify-content: center;
  background-color: #000;
  background-image: linear-gradient(to right, #000 40%, transparent 58%),
    url("https://m.media-amazon.com/images/G/31/AmazonVideo/2019/1102620_MLP_1440x675_apv189_V3.jpg");
  background-size: cover;
}
.content {
  z-index: 3;
  position: absolute;
  left: 0;
  padding-top: 11vw;
  padding-left: 5vw;
  float: left;
  width: 45%;
  color: white;
}
.hero-content{
  top: 0;
}
.page h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.page h2 {
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 3rem;
}
.page h3 {
  margin-top: 3rem;
  font-size: 0.8rem;
  font-weight: 10;
}
.btn {
  border: 0;
  background-color: #0f79af;
  width: 15rem;
  height: 3rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
.entertainment {
 
  background-position: center;
  margin-top: 0%;
  background-image: linear-gradient(to left, #000 40%, transparent 58%),
    url("https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-Living-Room-V2._CB524587855_.jpg");
  background-image: linear-gradient(to left, #000 40%, transparent 58%),
    url("https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-Living-Room-V2._CB524587855_.jpg");
}
.content-right {
  margin-top: 12rem;
  position: absolute;
  right: 0%;
  color: white;
  padding-right: 9vw;
  width: 45%;
}
.content-entertainment{
  top: 44rem;
}
.membership {
  
  background-position: center;
  margin-top: 0;
  background-image: linear-gradient(to right, #000 40%, transparent 58%),
    url("https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/PRIME_multi-benefit_MAGNET_2X._CB1519820207_.jpg");
}
.content-membership{
  top: 74rem;
}
.tv {
 
  background-position: center;
  background-image: linear-gradient(to left, #000 40%, transparent 58%),
    url("https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left.jpg");
  margin-top: 0;
}
.content-tv{
  top: 110rem;
}
.features {
  padding-top: 1.5rem;
  justify-content: center;
  align-items: center;
  height:27rem;
  width: 100%;
  background-color: white;
}
.features h1,
h2 {
  margin-bottom: 1rem;
}
.box {
  height: 100%;
  float: left;
  width: 30%;
  margin-left: 2vw;
  text-align: center;
  margin-bottom: 1rem;
}

.pic {
  width: 15rem;
  margin-top: 1rem;
}

.family {
  
  background-position: center;
  margin-top: 0;
  background-image: linear-gradient(to right, #000 40%, transparent 58%),
    url("https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-kids-30Jan._CB1517304519_.jpg");
}
.content-family{
  top: 182rem;
}

@media only screen and (max-width: 950px) {
  .page h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  .page h2 {
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 1rem;
  }
 .page{
   overflow: hidden;
 }
  .box{
    padding-top: 0;
    width: 100%;
    height:33% ;
     }
  .features{
    padding: 2rem;
    height: 76rem;
  }
  .hero {
    min-height: 20rem;
    background-size: cover;
    background-image: linear-gradient(to top, #000 0%, transparent 20%), url('https://m.media-amazon.com/images/G/31/AmazonVideo/2019/1102620_MLP_1440x675_apv189_V3._CR575,0,865,675_AC_.jpg');
  }

  .content{
    text-align: center;
    width: 100%;
    background-color: #000;
    position: unset;
    padding-bottom: 8rem;
  }
  .content-right{
    text-align: center;
    width: 100%;
    background-color: #000;
    position: unset;
    padding-bottom: 8rem;
    
  }
  .membership{
    background-image: linear-gradient(to top, #000 0%, transparent 20%), url('https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/PRIME_multi-benefit_MAGNET_2X._CB1519820207_._CR575,0,865,675_AC_.jpg');
  }
  .entertainment{
    margin-top: 20rem;
    background-image: linear-gradient(to top, #000 0%, transparent 20%), url('https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-Living-Room-V2._CB524587855_._CR0,0,865,675_AC_.jpg');  }
  .content-entertainment{
    margin-top: 0;
  padding-left: 1rem;
  }
  .tv{
    margin-top: 29rem;
    background-image: linear-gradient(to top, #000 0%, transparent 20%), url('https://images-na.ssl-images-amazon.com/images/G/01/digital/video/Magellan_MLP/MLP_Template_Image_Left._CR0,0,865,675_AC_.jpg');

  }
  .content-tv{
    margin-top: 0;
    padding-bottom: 8rem;
    padding-left: 1rem;
  }
  .family{
    background-image: linear-gradient(to top, #000 0%, transparent 20%), url('https://m.media-amazon.com/images/G/01/digital/video/Magellan_MLP/IN-kids-30Jan._CB1517304519_._CR575,0,865,675_AC_.jpg');
  };
 
}